:root{
    --black:#252a34;
    --ver:#43d957;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    position: relative;
    width: 100%;

}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* titulo */
.menu .hader_title{
    margin-left: 15px;
}
.menu .hader_title a{
    text-decoration: none;
}
.menu .hader_title a h1{
    text-decoration: none;
    color: #fff;
    font-size: 20px;    
    border: solid var(--ver) 1px;
    border-radius: 20px;
    margin: 0px 5px;
    padding: 12px;
    background-color: var(--ver);
}
/* Menu de opciones */
.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .list{
    display: flex;
}

/* creamos la clase para los botones del menu */
.menu .list-container .list a button{
    text-decoration: none;
    margin: 0px 5px;
    padding: 12px;
    color: var(--black);
    border-radius: 24px;
    font-size: 20px;
    transition: 0.8s;
    border: solid var(--ver) 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

/* se crea un efecto con hover */
.menu .list-container .list a button:hover{
    background: var(--ver);
    color: #fff;
}

/* para la clase activo se cre uno que lo mantine fijo */
/* .menu .list-container .list a button.active{
    background: var(--ver);
    color: #fff;
} */

/* Login y Create */

.form-container{
    width: 100%;
    height: 100vh;
    background: url(../img/img1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.form-container .welcome{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 77, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.form-container .welcome .welcome-container{
    width: 400px;
    height: 420px;
    font-size: 30px;
    color: var(--ver);
    font-weight: 200;
    text-align: center;
    background: #fff;
    padding: 15px 30px 10px 30px;
    border-radius: 20px;
    border-color: var(--ver);
    border: solid;
    margin-top: 25px;
}

.form-container .welcome .welcome-container hr{
    width: 100%;
    height: 2px;
    background: var(--ver);
    border: none;
    margin-top: 10px;
}
.form-container .welcome .welcome-container p {
    font-size: 18px;
    color: var(--black);
    margin: 10px 0px 0px 0px;
}
.form-container .welcome .welcome-container .forms{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.form label{
    text-align: center;
    font-size: 20px;
}

.form input{
    width: 90%;
    height: 30px;
    margin: auto;
    border: 2px solid var(--ver);
    border-radius: 20px;
    outline: none;
    text-align: center;
    font-size: 15px;
    color: var(--black);
}

.form input[type=submit]{
    width: 140px;
    height: 40px;
    background: var(--ver);
    border-radius: 24px;
    font-size: 15px;
    color: #fff;;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.form input[type=submit]:hover {
    background: #fff;
    color: var(--ver);
    border: solid var(--ver);
}

.form label{
    text-align: center;
    font-size: 20px;
}



footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li{
    list-style: none;
    color: #fff;
    margin: 0px 10px 0px 10px;
}

footer ul li a{
    color: #fff;
}


/* items y tags */

.datos-container{
    width: 100%;
    height: 100vh;
    background: url(../img/contactoseg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.datos-container .datos-welcome{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 77, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.datos-container .datos-welcome h1{
    font-size: 30px;
    color: var(--ver);
    text-overflow: "-";
}

.datos-container .datos-welcome p{
    font-size: 20px;
}


#data{
    width: 90%;
    height: 70%;
    font-size: 30px;
    color: var(--ver);
    font-weight: 200;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 30px 10px 30px;
    border-radius: 20px;
    border-color: var(--ver);
    border: solid;
    margin-top: 25px;
}

.scroll{
    height: 270px;
    width: 90%;
    margin: auto;
    overflow:auto;
    border: solid;
    margin-top: 20px;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--ver);
    border-radius: 5px;
}

.scroll::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
}

#divBt{
    margin-top: 10px;
}

#divBt button{
    text-decoration: none;
    margin: 0px 5px;
    padding: 10px;
    color: var(--black);
    border-radius: 24px;
    font-size: 18px;
    transition: 0.8s;
    border: solid var(--ver) 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-overflow: "-";
}

#divBt button:disabled{
    cursor:auto;
    opacity: 0.5;
}

.popContainer{
    position: fixed;
    height: 100%;
    width: 100vw;
    background: rgba(4, 255, 25, 0.5);
    z-index: 1000;
    display: grid;
    align-items: center;
    justify-content: center;
}

.popContainer .popItem{
    width: 400px;
    height: 470px;
    font-size: 20px;
    color: var(--ver);
    font-weight: 200;
    text-align: center;
    background: #fff;
    padding: 15px 30px 10px 30px;
    border-radius: 10px;
    border-color: var(--ver);
    border: solid;
    margin-top: 25px;
    overflow:auto;
}

.popItem::-webkit-scrollbar {
    width: 5px;
}

.popItem::-webkit-scrollbar-thumb {
    background-color: #86ff90;;
    border-radius: 20px;
}

.popItem::-webkit-scrollbar-track {
    background-color: var(--ver);
    border-radius: 5px;
}

#crearItem{
    opacity: 0;
    left: -100%;
}

#crearTag{
    opacity: 0;
    left: -100%;
}

#EdItem{
    opacity: 0;
    left: -100%;
}

#crearTag{
    opacity: 0;
    left: -100%;
}

#EdTag{
    opacity: 0;
    left: -100%;
}

#AddTag{
    opacity: 0;
    left: -100%;
}

.btAtras button{
    text-decoration: none;
    margin: 15px;
    padding: 10px;
    color: var(--black);
    border-radius: 24px;
    font-size: 15px;
    transition: 0.8s;
    border: solid var(--ver) 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-overflow: "-";
}

#Wtitle{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 70px;
}

#divScroll{
    display:grid;
    align-items: center;
    justify-content: center;
}

#divScroll div{
    padding: 5px;
    width: 100vh;
    border: 1px solid var(--ver);
    background: #fff;
    padding: auto;
    margin: 3px;
    cursor: pointer;
    font-size: 20px;
    text-overflow: ellipsis;
    border-radius: 20px;

}

#lst {
    margin: 10px 30px 30px 30px;
    padding: 10px;
}